h2.intro {
  font-family: 'Changa One' , sans-serif;
  font-size: 1.75em;
  font-weight: bold;
  color: purple;
}

p.intro {
  font-family: sans-serif;
  font-size: 25gipx;
  font-weight: normal;
  color: black;
}

img.intro {
  max-width: 100%;
  max-height: 100%
}
